body {
  margin: 0;
  font-size: medium;
  font-family: 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell',
    'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

span ~ span {
  padding-left: 10px;
}

div ~ div {
  margin: 10px 0;
}

input,
textarea {
  display: block;
  margin: 5px 0;
  padding: 5px;
  border: 1px solid;
  box-sizing: border-box;
}

textarea {
  width: 100%;
}

button {
  margin-right: 10px;
}

.app {
  padding: 0 20px;
}

.menu {
  margin: 30px 0;
}

.menu-items {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu-item {
  display: inline;
  margin-right: 10px;
}

.page-title {
  margin-bottom: 50px;
}

.list {
  margin-top: 50px;
}

.list-item {
  margin: 10px 0;
  padding: 10px 0;
}

.review-form,
.review-list {
  margin-top: 30px;
}

.char-search-input {
  width: 300px;
}
